ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e9e65a; 
  background-image: linear-gradient(45deg, #e9e65a, #fffa85,#fffa85, #e9e65a);
  font-family: macha, sans-serif;
  font-weight: 700;
  font-style:normal;
}
.external{text-decoration-line: none;color: #4d7fb4}
.external:visited{text-decoration-line: none;color: #4d7fb4}

body{
     background-color: #fffdfa;
}


section{
    margin-top: 100px;
}
article{
    margin-top: 50px;
    float:left;
    margin-left: 10%;
    margin-right: 30px;
    margin-bottom: 40px;}


h3{font-family: macha, sans-serif;
font-weight: 700;color:#324862;
font-style:normal;
font-size: 20pt;
margin-top: 100px;margin-bottom: 5px;}

div{
    float: left; 
    padding-top: 5px;
    padding-left: 16px;}


li {
    float: right;}

li a {
    display: block;
    border: none;
    color: #324862;
    text-align: center;
    padding: 14px 16px;
    text-decoration-line: none;}

li a:hover {
  color: #4d7fb4;
}


h2{
    font-family: fira-sans, sans-serif;
font-weight: 300; 
    font-size: 13pt;
    font-style: normal;  
    margin-right: 12%; 
    padding-bottom: 10px; 
    margin-bottom: 35px;
        margin-top:20px;
margin-left:10%}


.button1 {
    clear: both;
   float:left; 
    margin-top: 20px;
    margin-left: 10%;
    width: 50px;
    text-align: center;
    border-radius: 5px;
background-color: aliceblue; color:#3b3c3d; border: 1px solid #4d7fb4;
    padding-bottom: 5px;
    padding-right: 3px;
    padding-top: 3px;
    padding-left: 3px;
    font-size: 11px;
    font-family: fira-sans, sans-serif;
    font-weight: 300;
    font-style:normal;
    text-decoration-line: none;}

.button1:hover{background-color: lightyellow; color:goldenrod; border: 1px solid khaki;}

.button1:visited{text-decoration-line: none; background-color: aliceblue; color:#3b3c3d; border: 1px solid #4d7fb4;}


.button2 {
    float:right;
    width: 50px;
    text-align: center;
background-color: aliceblue; color:#3b3c3d; border: 1px solid #4d7fb4;
    border-radius: 5px;
  margin-top: 20px;
    margin-right:12%; 
    margin-bottom: 40px;
    padding-bottom: 5px;
    padding-left: 3px;
    padding-right: 2px;
    padding-top: 3px;
    font-size: 11px;
    font-family: fira-sans, sans-serif;
    font-weight: 300;
    font-style:normal;
    text-decoration-line: none;}

.button2:hover{background-color: lightyellow; color:goldenrod; border: 1px solid khaki;}}


.button2:visited{text-decoration-line: none; background-color: aliceblue; color:#3b3c3d; border: 1px solid #4d7fb4;}
    
    
footer{
    clear:both;
    margin-top: 75px;
background-color: #e9e65a; 
  background-image: linear-gradient(90deg, #e9e65a, #fffa85,#fffa85, #e9e65a);    
    font-family: fira-sans, sans-serif;
    font-weight: 300; 
    font-size: 9pt;
    font-style: normal;
    width:100%;
    position: bottom;
    left:0;
    padding-bottom: 8px;
    padding-top: 5px;
    text-align: left; 
    text-indent: 16px;}